<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="Resocentro_Desktop.Properties.Settings.SitedsDb" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\DAO\epslog.mdb;Persist Security Info=True" providerName="System.Data.OleDb" />
    <add name="DATABASEGENERALEntities" connectionString="metadata=res://*/DAO.Model1.csdl|res://*/DAO.Model1.ssdl|res://*/DAO.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SERVERSYSTEM;initial catalog=DATABASEGENERAL;persist security info=True;user id=AppJhon;password=Sistemas;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="RepositorioJhonEntities" connectionString="metadata=res://*/DAO.ModelReportes.csdl|res://*/DAO.ModelReportes.ssdl|res://*/DAO.ModelReportes.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=serverhouse;initial catalog=RepositorioJhon;user id=sa;password=sqladmin;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="RepositorioJhonEntities1" connectionString="metadata=res://*/DAO.ModelReporte.csdl|res://*/DAO.ModelReporte.ssdl|res://*/DAO.ModelReporte.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=serverhouse;initial catalog=RepositorioJhon;user id=sa;password=sqladmin;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Resocentro_Desktop.Properties.Settings.DATABASEGENERALConnectionString" connectionString="Data Source=serversystem;Initial Catalog=DATABASEGENERAL;Persist Security Info=True;User ID=AppJhon;Password=Sistemas;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="OracleDbContext" providerName="Oracle.ManagedDataAccess.Client" connectionString="User Id=oracle_user;Password=oracle_user_password;Data Source=oracle" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="Oracle.ManagedDataAccess.Client" type="Oracle.ManagedDataAccess.EntityFramework.EFOracleProviderServices, Oracle.ManagedDataAccess.EntityFramework, Version=6.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </providers>
  </entityFramework>
  <appSettings>
    <add key="colorBackground" value="#FF205591" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BillServicePortBinding">
          <security mode="Transport" />
        </binding>
        <binding name="BillServicePortBinding1">
          <security mode="Transport" />
        </binding>
        <binding name="BillServicePortBinding2">
          <security mode="Transport" />
        </binding>
        <binding name="BillServicePortBinding3">
          <security mode="Transport" />
        </binding>
        <binding name="BillServicePortBinding4">
          <security mode="Transport" />
        </binding>
        <binding name="BillServicePortBinding5" />
        <binding name="BillConsultServicePortBinding">
          <security mode="Transport" />
        </binding>
        <binding name="BillConsultServicePortBinding1" />
        <binding name="BillConsultServicePortBinding2">
          <security mode="Transport" />
        </binding>
        <binding name="BillConsultServicePortBinding3" />
        <binding name="BasicHttpBinding_IWSAsyncCallSeguimiento" />
        <binding name="BillServicePortBinding6" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://e-factura.sunat.gob.pe:443/ol-ti-itcpfegem/billService"
        binding="basicHttpBinding" bindingConfiguration="BillServicePortBinding"
        contract="SunatServiceEmetac.billService" name="BillServicePort">
        <headers>
          <wsse:Security mustUnderstand="0" xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">
            <wsse:UsernameToken Id="EMETAC">
              <wsse:Username>20101849831FHER2467</wsse:Username>
              <wsse:Password>FHERRERA2467</wsse:Password>
            </wsse:UsernameToken>
          </wsse:Security>
        </headers>
      </endpoint>
      <endpoint address="https://www.sunat.gob.pe:443/ol-it-wsconscpegem/billConsultService"
        binding="basicHttpBinding" bindingConfiguration="BillConsultServicePortBinding"
        contract="ServiceSunatRESOConsulta.billService" name="BillConsultServicePort">
        <headers>
          <wsse:Security mustUnderstand="0" xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">
            <wsse:UsernameToken Id="RESOCENTRO">
              <wsse:Username>20297451023JHER2467</wsse:Username>
              <wsse:Password>JHERRERA2467</wsse:Password>
            </wsse:UsernameToken>
          </wsse:Security>
        </headers>
      </endpoint>
      <endpoint address="https://www.sunat.gob.pe:443/ol-it-wsconscpegem/billConsultService"
        binding="basicHttpBinding" bindingConfiguration="BillConsultServicePortBinding2"
        contract="ServiceSunatEMEConsulta.billService" name="BillConsultServicePort1">
        <headers>
          <wsse:Security mustUnderstand="0" xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">
            <wsse:UsernameToken Id="EMETAC">
              <wsse:Username>20101849831FHER2467</wsse:Username>
              <wsse:Password>FHERRERA2467</wsse:Password>
            </wsse:UsernameToken>
          </wsse:Security>
        </headers>
      </endpoint>
      <endpoint address="http://sistemas:5135/SignalR/WSAsyncCallSeguimiento.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWSAsyncCallSeguimiento"
        contract="ServiceResocentro.IWSAsyncCallSeguimiento" name="BasicHttpBinding_IWSAsyncCallSeguimiento" />
      <endpoint address="https://e-factura.sunat.gob.pe:443/ol-ti-itcpfegem/billService"
        binding="basicHttpBinding" bindingConfiguration="BillServicePortBinding1"
        contract="SunatServiceResocentro.billService" name="BillServicePort1">
        <headers>
          <wsse:Security mustUnderstand="0" xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">
            <wsse:UsernameToken Id="RESOCENTRO">
              <wsse:Username>20297451023JHER2467</wsse:Username>
              <wsse:Password>JHERRERA2467</wsse:Password>
            </wsse:UsernameToken>
          </wsse:Security>
        </headers>
      </endpoint>
      <endpoint address="https://e-beta.sunat.gob.pe:443/ol-ti-itemision-otroscpe-gem-beta/billService"
        binding="basicHttpBinding" bindingConfiguration="BillServicePortBinding2"
        contract="SunatServiceResocentro.billService" name="BillServicePort.1" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <!--<assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />-->
        <bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.121.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
        <bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.121.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!--<oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>-->
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
</configuration>