
<div class="row">
    <div class="col-lg-12">
        <div class="form-group">
            <label>Seleccione el Equipo</label>
            <select id="cboequipo_asignar" class="form-control"></select>
        </div>
    </div>
</div>
