@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}
<style>
    .centro{
	display: block;
	margin-left: auto;
	margin-right: auto
}
</style>
<hgroup class="title">
    <h1 class="error">Error</h1>
    <h2 class="error">Ocurrio un error al mientras se procesaba el pedido .</h2>
    <img src="../../img/robot.png" class="centro" alt="" />
</hgroup>
