<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BillServicePortBinding">
          <security mode="Transport" />
        </binding>
        <binding name="BillServicePortBinding1">
          <security mode="Transport" />
        </binding>
        <binding name="BillServicePortBinding2" />
        <binding name="BillServicePortBinding3">
          <security mode="Transport" />
        </binding>
        <binding name="BillServicePortBinding5" />
        <binding name="BillConsultServicePortBinding">
          <security mode="Transport" />
        </binding>
        <binding name="BillConsultServicePortBinding1" />
        <binding name="BillConsultServicePortBinding2">
          <security mode="Transport" />
        </binding>
        <binding name="BillConsultServicePortBinding3" />
      </basicHttpBinding>
      <customBinding>
        <binding name="BillServicePortBinding4">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://e-factura.sunat.gob.pe:443/ol-ti-itcpfegem/billService"
        binding="basicHttpBinding" bindingConfiguration="BillServicePortBinding1"
        contract="ServiceSunatResocentro.billService" name="BillServicePort1">
        <headers>
          <wsse:Security mustUnderstand="0" xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">
            <wsse:UsernameToken Id="RESOCENTRO">
              <wsse:Username>20297451023JHER2467</wsse:Username>
              <wsse:Password>JHERRERA2467</wsse:Password>
            </wsse:UsernameToken>
          </wsse:Security>
        </headers>
      </endpoint>
      <endpoint address="https://e-factura.sunat.gob.pe:443/ol-ti-itcpfegem/billService"
        binding="basicHttpBinding" bindingConfiguration="BillServicePortBinding"
        contract="ServiceSunatEmetac.billService" name="BillServicePort">
        <headers>
          <wsse:Security mustUnderstand="0" xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">
            <wsse:UsernameToken Id="EMETAC">
              <wsse:Username>20101849831FHER2467</wsse:Username>
              <wsse:Password>FHERRERA2467</wsse:Password>
            </wsse:UsernameToken>
          </wsse:Security>
        </headers>
      </endpoint>
      <endpoint address="https://www.sunat.gob.pe:443/ol-it-wsconscpegem/billConsultService"
        binding="basicHttpBinding" bindingConfiguration="BillConsultServicePortBinding"
        contract="ServiceSunatConsultaResocentro.billService" name="BillConsultServicePort" >
        <headers>
          <wsse:Security mustUnderstand="0" xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">
            <wsse:UsernameToken Id="RESOCENTRO">
              <wsse:Username>20297451023JHER2467</wsse:Username>
              <wsse:Password>JHERRERA2467</wsse:Password>
            </wsse:UsernameToken>
          </wsse:Security>
        </headers>
      </endpoint>
      <endpoint address="https://www.sunat.gob.pe:443/ol-it-wsconscpegem/billConsultService"
        binding="basicHttpBinding" bindingConfiguration="BillConsultServicePortBinding2"
        contract="ServiceSunatConsultaEmetac.billService" name="BillConsultServicePort1" >
        <headers>
          <wsse:Security mustUnderstand="0" xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">
            <wsse:UsernameToken Id="EMETAC">
              <wsse:Username>20101849831FHER2467</wsse:Username>
              <wsse:Password>FHERRERA2467</wsse:Password>
            </wsse:UsernameToken>
          </wsse:Security>
        </headers>
      </endpoint>
    </client>
  </system.serviceModel>
  <connectionStrings>
    <add name="DATABASEGENERALEntities" connectionString="metadata=res://*/DAO.Model1.csdl|res://*/DAO.Model1.ssdl|res://*/DAO.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=serversystem;initial catalog=DATABASEGENERAL;user id=UserEncuesta;password=UserEncuesta;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>