<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="NotificacionesMedicos.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="DATABASEGENERALEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.3;initial catalog=DATABASEGENERAL;persist security info=True;user id=AppJhon;password=Sistemas;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="RepositorioJhonEntities" connectionString="metadata=res://*/Model7.csdl|res://*/Model7.ssdl|res://*/Model7.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.7;initial catalog=RepositorioJhon;persist security info=True;user id=sa;password=sqladmin;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DATABASEGENERALEntities1" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=serversystem;initial catalog=DATABASEGENERAL;user id=UserEncuesta;password=UserEncuesta;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <userSettings>
    <NotificacionesMedicos.Properties.Settings>
      <setting name="supervicion" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="enfermeria" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="tecnologo" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="equipos" serializeAs="String">
        <value />
      </setting>
      <setting name="alertaVisual" serializeAs="String">
        <value>True</value>
      </setting>
    </NotificacionesMedicos.Properties.Settings>
  </userSettings>
</configuration>